- relevant_item_ids = EggItemCost.distinct.pluck(:item_id)
- user_items = current_user.user_items.includes(:item).where(item_id: relevant_item_ids)
- eggs = Egg.enabled.includes(:currency, egg_item_costs: :item)
- currencies = helpers.currency_balances_for(current_user)
- highlighted_id = @egg&.id

- coins = currencies.find { |c| c.name == "Coins" }
- diamonds = currencies.find { |c| c.name == "Diamonds" }
- glow = currencies.find { |c| c.name == "Glow Essence" }

- if currencies.any?
  = turbo_stream.update(coins&.dom_id || currency_dom_id("Coins")) do
    = number_with_delimiter(coins&.amount.to_i)
  = turbo_stream.update(diamonds&.dom_id || currency_dom_id("Diamonds")) do
    = number_with_delimiter(diamonds&.amount.to_i)
  = turbo_stream.update(glow&.dom_id || currency_dom_id("Glow Essence")) do
    = number_with_delimiter(glow&.amount.to_i)

= turbo_stream.replace "currency_balances", partial: "shared/currency_badges", locals: { currencies: currency_balances_for(current_user) }

= turbo_stream.update "user-inventory" do
  = render "adopt/user_inventory", user_items: user_items, currencies: currencies

- user_items.each do |user_item|
  = turbo_stream.update "user-item-quantity-#{user_item.item_id}" do
    = "x#{user_item.quantity}"

= turbo_stream.update "egg-list" do
  .grid.grid-cols-1.md:grid-cols-2.xl:grid-cols-3.gap-8
    - eggs.each do |egg|
      - can_afford = current_user.can_afford_egg?(egg)
      = render "adopt/egg_card", egg: egg, can_afford: can_afford, highlight: (highlighted_id == egg.id)

= turbo_stream.append "toast-container" do
  = render "shared/toast", message: "Adopted a #{@egg.name}!"
