- context ||= :page
= turbo_stream.update egg_info_dom_id(@user_egg) do
  = render "user_eggs/info_body",
          user_egg: @user_egg,
          context: context

= turbo_stream.replace egg_action_panel_dom_id(@user_egg) do
  = render "user_eggs/action_panel_frame",
          user_egg: @user_egg,
          context: context,
          state: :hatching,
          new_user_pet: @user_pet

= turbo_stream.remove egg_card_dom_id(@user_egg)

= turbo_stream.replace "egg-count" do
  %span#egg-count= pluralize(@egg_count, "egg")

= turbo_stream.replace "pet-count" do
  %span#pet-count= pluralize(@pet_count, "pet")

= turbo_stream.append "toast-container" do
  = render "shared/toast", message: "You hatched #{@user_pet.pet.name}!"
