-# app/views/user_eggs/hatch.turbo_stream.haml

-# 1. Update the original turbo_frame_tag on the nursery index page
= turbo_stream.update "user_egg_hatch_#{@user_egg.id}" do
  = render "nursery/hatched", user_egg: @user_egg

-# 2. Update the turbo_frame_tag *inside your empty_modal* with the hatch modal content
-# The target ID here MUST match the turbo_frame_tag ID inside shared/empty_modal.html.haml
= turbo_stream.update "hatch-modal-content-frame" do 
  = render "nursery/hatch_modal_content", pet: @user_pet.pet, egg: @user_egg.egg, user_pet: @user_pet