= turbo_stream.update "exploration_detail" do
  = render partial: "user_explorations/complete"

= turbo_stream.replace "worlds-list" do
  = render "explorations/worlds_list",
           generated_explorations: @generated_explorations,
           active_explorations: @active_explorations,
           requirement_map: @requirement_map,
           selected_generated: @generated_explorations.first

= turbo_stream.update "user-currency-trophies" do
  = number_with_delimiter(@user_stats.trophies)

= turbo_stream.update "user-currency-diamonds" do
  = number_with_delimiter(@user_stats.diamonds)
