= turbo_stream.update "equip_slots" do
  = render "user_pets/equip_slots"

= turbo_stream.update dom_id(@user_pet) do
  = render partial: "pets/user_pet_card", locals: { user_pet: @user_pet }

- if local_assigns[:previous_pet] && previous_pet.present?
  = turbo_stream.replace dom_id(previous_pet) do
    = render partial: "pets/user_pet_card", locals: { user_pet: previous_pet }

= turbo_stream.update "equip_detail" do
  %p.text-green-600.text-center.mt-4 Pet equipped!
