%h1.text-2xl.font-semibold.mb-4 Abilities
= link_to 'New Ability', new_admin_ability_path, class: 'px-3 py-1 bg-green-600 text-white rounded mb-4 inline-block'
%table.table-auto.w-full.border-collapse.border
  %thead
    %tr.bg-gray-100
      %th.px-2.py-1.text-left Name
      %th.px-2.py-1.text-left Element
      %th.px-2.py-1.text-left Damage
      %th.px-2.py-1.text-left Actions
  %tbody
    - @abilities.each do |ability|
      %tr.border-t
        %td.px-2.py-1= ability.name
        %td.px-2.py-1= ability.element_type
        %td.px-2.py-1= ability.damage
        %td.px-2.py-1
          = link_to 'Show', admin_ability_path(ability), class: 'text-blue-600 underline'
          = " | "
          = link_to 'Edit', edit_admin_ability_path(ability), class: 'text-yellow-600 underline'
          = " | "
          = link_to 'Delete', admin_ability_path(ability), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-600 underline'
