!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Forgegrind"
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "yes", name: "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{href: "/icon.png", rel: "icon", type: "image/png"}/
    %link{href: "/icon.svg", rel: "icon", type: "image/svg+xml"}/
    %link{href: "/icon.png", rel: "apple-touch-icon"}/
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"

  %body
    = render "shared/nav/navbar"
    - if flash.any?
      %div.mx-auto.mt-4.max-w-2xl
        - flash.each do |key, message|
          - css_class = case key.to_sym
            - when :notice then "bg-green-100 border border-green-300 text-green-800 px-4 py-2 rounded mb-4"
            - when :alert  then "bg-red-100 border border-red-300 text-red-800 px-4 py-2 rounded mb-4"
            - else               "bg-gray-100 border border-gray-300 text-gray-800 px-4 py-2 rounded mb-4"
          %div{ class: css_class }
            = message

    = yield